

* {
  border: 1px solid red;
}

body {
    overflow: hidden;
}

main{
    height: 100vh;
    background: url(https://thumbs.dreamstime.com/b/la-texture-blanche-de-mur-mod%C3%A8le-abstrait-ondulent-le-fond-moderne-et-g%C3%A9om%C3%A9trique-onduleux-couche-chevauchement-99647581.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
                 rgba(216, 216, 216, 0.3) 0%,
                 rgba(0, 0, 0, 0.5) 100%);
}


.frame {
    width: 80%;
    height: 70%;
}

/* __________MISION SECTION__________ */

#mission {
    width: 100%;
    background-color: #cfcfcf;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.6rem;
    font-style: italic;
    align-self: end;
    margin: 5% 10% 0 0;
    
    
}



/* __________ABOUT SECTION__________ */

#about {
    width: 80%;
    height: 100%;
    background-color: rgba(190, 190, 190, 0.8);
}

#title {
    width: 100%;
    height: 30%;
}

.text-container {
    width: 60%;
    margin: 6rem 0 0 6rem;
    font-size: 1.8rem;
    color: rgb(55, 55, 55);
    background-color: rgba(160, 160, 160, 0.8);
}

.section-title {
    margin: -5rem 0 0 -4rem;

    font-size: 12rem;
    letter-spacing: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 550;
}

.bio {
    text-align: justify;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
}


/* __________ICON SECTION__________ */
#tech {
    width: 20%;
    height: 100%;
}

.languages {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.program-icon {
    width: 100%;
    font-size: 1.5rem;
    list-style: none;
    text-align:center;
    color: #22B989;
    opacity: 45%;
}

.active-icon {
    color: #125941;
    opacity: 75%;
}

/* .................... MEDIA QUERIES .................... */

@media (max-width: 1330px){

    #mission {
        width: 40%;
        font-size: 1.5rem;
    }

    .text-container {
        width: 80%;
    }

}
