

/*main * {
  border: 1px solid red;
}*/

body {
    overflow: hidden;
}

.frame {
    width: 65%;
    height: 70%;
}



/* ******************** ABOUT SECTION ******************** */

#about-section {
    width: 80%;
    height: 100%;
    background-color: rgba(130, 130, 130, 0.3);;
}

.title-container {
    width: 100%;
    height: 20%;
}

#title {
    margin: -2rem 0 0 -2rem;
    transform: scale(1,2);

    font-size: 12rem;
    letter-spacing: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;

    color: rgba(240, 240, 240, 0.9);
}

.info-container {
    width: 100%;
    height: 80%;
    align-items: end;
    position: relative;
}

.bio-container {
    width: 70%;
    height: 100%;
    margin: 0 0 -6rem 6rem;
    padding: 2rem;
    
    background-color: rgba(100, 100, 100, 0.3);
}

#bio {
    text-align: justify;
    letter-spacing: 0.2rem;
    font-size: 2.1rem;
    color: rgba(70, 70, 70, 0.8);

}

.bio {
    text-align: justify;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
}

.banner-container{
    position: absolute;
    right: 0;
    height:100%;
    width: 10%;
    justify-content: end;
    align-items: end;
}

#banner {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0 0.6rem 0.8rem 0;

    font-size: 4rem;
    letter-spacing: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: rgba(105, 105, 105, 0.8);
}



/* ******************** TECHNOLOGIES SECTION ******************** */

#technologies-section {
    width: 20%;
    height: 100%;
}

.technologies-list {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.program-icon {
    width: 100%;
    font-size: 1.5rem;
    list-style: none;
    text-align:center;
    color: rgba(63, 139, 117, 0.8);
}

.active-icon {
    color: rgba(26, 59, 50, 1);
}



/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ......................... MEDIA QUERIES ......................... */

@media (max-width: 1330px){
    #about-section {
        width: 85%;
    }

    #technologies-section {
        width: 15%;
    }

    .frame {
        width: 90%;
        height: 70%;
    }

    #title {
        font-size: 11rem;
    }

    .bio-container {
        width: 80%;
        height: 100%;
    
        margin: 0 0 -6rem 3rem;
    }

    #bio {
        font-size: 2rem;;
    }

}



@media (max-width: 950px) {

    #bio {
        font-size: 1.8rem;
    }
}



@media (max-width: 750px) {

    #title {
        font-size: 9rem;
    }

    .bio-container {
        height: 110%;
    }

    #bio {
        font-size: 1.6rem;
    }

    .program-icon {
        font-size: 1.2rem;
    }
}