

/*main * {
  border: 1px solid red;
}*/

body {
    overflow: hidden;
}

.frame {
    width: 65%;
    height: 60%;
    margin-top: 5vh;
}



/* ******************** ABOUT SECTION ******************** */

#about-section {
    width: 80%;
    height: 100%;
    background-color: var(--frame-color-0);
}

.title-container {
    width: 100%;
    height: 20%;
}

#title {
    margin: -4rem 0 0 29rem;
    transform: scale(1,2);

    font-size: 14rem;
    letter-spacing: 1.5rem;
    font-family: "Forum", serif;
    font-weight: 300;
    
    color: var(--text-color-2);
}

.info-container {
    width: 100%;
    height: 80%;
    align-items: end;
    position: relative;
}

.bio-container {
    width: 70%;
    height: 100%;
    margin: 0 0 -6rem 6rem;
    padding: 2rem;
    
    background-color: var(--frame-color-1);
}

#bio {
    text-align: justify;
    letter-spacing: 0.2rem;
    font-size: 2.1rem;
    color: var(--text-color-3);

}

.bio {
    text-align: justify;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
}

.banner-container{
    position: absolute;
    right: 0;
    height:100%;
    width: 10%;
    justify-content: end;
    align-items: end;
}

#banner {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin: 0 0.6rem 0.8rem 0;

    font-size: 4rem;
    letter-spacing: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: var(--text-color-4);
}



/* ******************** TECHNOLOGIES SECTION ******************** */

#technologies-section {
    width: 20%;
    height: 100%;
}

.technologies-list {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.program-icon {
    width: 100%;
    font-size: 1.5rem;
    list-style: none;
    text-align:center;
    
    color: var(--primary-color);
}



.active-icon {
    color: var(--secondary-color);
}



/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ......................... MEDIA QUERIES ......................... */

@media (max-width: 1330px){
    #about-section {
        width: 85%;
    }

    #technologies-section {
        width: 15%;
    }

    .frame {
        width: 85%;
        height: 60%;
    }

    #title {
        font-size: 10rem;
        margin: -3rem 0 0 19rem;
    }

    .bio-container {
        width: 80%;
        height: 110%;
    
        margin: 0 0 -6rem 3rem;
    }

    #bio {
        font-size: 2rem;;
    }

}



@media (max-width: 950px) {

    #bio {
        font-size: 1.8rem;
    }
}



@media (max-width: 750px) {

    #title {
        font-size: 9rem;
    }

    .bio-container {
        height: 110%;
    }

    #bio {
        font-size: 1.6rem;
    }

    .program-icon {
        font-size: 1.2rem;
    }
}